name: Update Flake Lock

on:
  workflow_dispatch:
  schedule:
    # Run every Sunday at 00:00 UTC
    - cron: '0 0 * * 0'

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Install Nix
        uses: cachix/install-nix-action@v31
        with:
          nix_path: nixpkgs=channel:nixos-unstable

      - name: Setup Cachix
        uses: cachix/cachix-action@v16
        with:
          name: kiriwalawren
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"

      - name: Update flake.lock
        run: nix flake update

      - name: Create Pull Request
        run: |
          git checkout -b update-flake-lock
          git add --all
          git commit -m "update flake.lock"
          git push origin update-flake-lock

          gh pr create \
            --title "chore: update flake.lock" \
            --body "Automated flake.lock update.\n\nThis PR updates all flake inputs." \
            --base main
            --head $(git rev-parse --abbrev-ref HEAD)
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
